* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span,
p {
    font-family: Arial, sans-serif;
}

input::placeholder {
    background-color: #404848;
}

#account-btn:hover,
#voice-message-btn:hover,
.side-panel-btn:hover {
    img {
        min-width: 5px;
        min-height: 5px;
        width: 32px;
        height: 32px;
    }

    cursor: pointer;
}


.root {
    width: 100vw;
    min-height: 100vh;
    background-color: #393631;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#app {
    min-width: 400px;
    width: 1440px;
    height: 945px;
    display: flex;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #323738; */
    background-color: #18191A;
    border-radius: 20px;
}

#chat-container {
    min-width: 200px;
    display: flex;
    height: 945px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: #373C3C; */
    background-color: #242526;
    border-radius: 20px;


}

#chat-div {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 945px;
    width: 958px;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

#chat-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    min-width: 200px;
    width: 917px;
    height: 756px;
    gap: 30px;



}

 #chat-display::-webkit-scrollbar {
background-color: #242526;
}
/*
#chat-display::-webkit-scrollbar-button {
    max-height: 50%;
    height: 50%;
    background-color: #0064c7;
    width: 5px;

} */

 #chat-header {
    width: 919px;
    min-width: 200px;
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header-name {
    min-width: 100px;
    width: 460px;
    height: 58px;
}

#menu-btn {
    width: 42px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: #242526;
    border: none;


    img {
        min-width: 5px;
        min-height: 5px;
        width: 24px;
        height: 24px;

    }
}

.chat-header-functions {
    min-width: 100px;
    width: 276px;
    height: 59px;
    display: flex;
    justify-content: flex-end;
}

.header-name-p {
    font-size: 24px;
    font-weight: bold;
    color: #EAEEEF;
}

.header-description-p {
    color: #AABBBD;
    font-size: 16px;
}

.app-chat-input {
    min-width: 200px;
    width: 958px;
    height: 75px;

    form {
        min-width: 200px;
        width: 940px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #404848;
        border-radius: 7px;

    }

    input {
        min-width: 200px;
        width: 900px;
        height: 45px;
        text-align: start;
        background-color: #404848;
        border: none;
        outline: none;
        color: white;
        border-radius: 7px;
    }

    button {
        width: 32px;
        height: 25px;
        background-color: #404848;
        border: none;


    }
}

#contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 945px;
    width: 385px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contact-chat-div {
    min-width: 100px;
    width: 359px;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;

    img {
        min-width: 20px;
        min-height: 20px;
        width: 64px;
        height: 64px;
        margin-left: 5px;
    }
}

.contact-chat-div:hover {
    background-color: #404848;
}

.chat-name {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #EAEEEF;
}

.description {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #AABBBD;
}

.contact-chat-names {
    width: 234px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 51px;
}

.contact-chat-time {
    height: 51px;
    width: 36px;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: #AABBBD;

    img {
        min-width: 12px;
        width: 14px;
        height: 14px;
    }
}

#contacts-container-input-div {
    min-width: 200px;
    width: 336px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 20px;
    background-color: #404848;


    input {
        height: 51px;
        width: 218px;
        background-color: #404848;
        border: none;
        text-decoration: none;
        outline: none;
        color: #EAEEEF;
    }


}

.input-container {
    min-width: 200px;
    width: 384px;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}


#contacts-container-display {
    min-width: 200px;
    width: 359px;
    height: 833px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#side-panel {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    width: 101px;
    height: 945px;
    align-items: center;
    margin: 0 auto;
}

.logo-div {
    min-width: 50px;
    width: 100px;
    height: 113px;
    display: flex;
    align-items: start;
    justify-content: center;

}

#logo {
    min-width: 20px;
    margin: 18px;
    width: 48px;
    height: 48px;
}

.account-div {
    min-width: 50px;
    width: 100px;
    height: 718px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.settings-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: 100px;
    height: 113px;
}

.side-panel-btn {
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: #18191A;
    border: none;
    text-decoration: none;
    color: #AABBBD;

    img {
        min-width: 5px;
        min-height: 5px;
        width: 32px;
        height: 32px;
    }

}


#account-btn {
    margin-top: 40px;
}

#search-img {
    min-width: fit-content;
    width: 32px;
    height: 32px;
}

.message {

    min-width: 50px;
    padding: 10px 20px 10px 2%;
    background-color: #404848;
    border-radius: 12px;
    display: flex;

    align-items: center;
}

.voice-message {
    width: 345px;
    min-width: 75px;
}

.message-text-div {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    min-height: 52px;

    overflow-wrap: break-word;


}

.message-time-div {
    width: 38px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #AABBBD;

}

.message-name {
    font-size: 20px;
    padding-bottom: 10px;
    color: #EAEEEF;
}

.message-text {
    font-size: 18px;
    color: #AABBBD;
    height: 50%;

}

.message-length {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 268px;
}

.voice-play-btn {
    min-width: 20px;
    min-height: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #AABBBD;

    display: flex;
    align-items: center;
    justify-content: center;
}

.voice-img {
    width: 62%;
    min-width: 15px;
}

.voice-img:hover {
    width: 62%;

}



.voice-length-div {
    width: 80%;
    height: 38px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

}

#voice-message-back {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #18191ac6;
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;

}

#voice-message-window {
    position: relative;
    width: 12%;
    height: 24%;
    background-color: #242526;
    border-radius: 7px;
    left: calc(50% - 6%);
    top: calc(50% - 12%);
}

#micro-circle {
    position: relative;
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: calc(50% - 85px);
    background-color: #393631;
    border-radius: 50%;




}

#voice-window-img {
    position: relative;
    width: 80%;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    z-index: 30;
}

#micro-circle::after,
#micro-circle::before {
    content: '';
    position: absolute;
    background-color: #393631;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    z-index: 20;

}

#micro-circle::after {
    animation-delay: 1.25s;

}

#timer-div {
    position: relative;
    width: 100%;
    height: 16%;
    text-align: center;
    /* border: 1px solid black; */
    top: 24%;
    z-index: 40;
    color: #EAEEEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.lengthLine {
    width: 100%;
    height: 24%;
    border: 1px solid #242526;
    background-color: #242526;
    display: flex;
    justify-content: flex-start;
    border-radius: 2px;

}

.timeLine {
    width: 0;
    height: 100%;
    background-color: #AABBBD;
    border-radius: 2px;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


@media only screen and (max-width:600px) {
    #app {
        min-width: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #323738; */
        background-color: #18191A;
        border-radius: 20px;
    }

    #side-panel {
        display: none;

    }

    #chat-container {
        height: 100%;
        width: 100%;
        border-radius: 0;

    }

    #contacts-container {

        display: none;

    }

    #chat-div {
        height: 100vh;
        width: 90%;
    }

    #chat-display {
        margin-top: 20px;
        width: 98%;
        height: 80%;
        gap: 30px;

    }

    .message {
        min-width: 60%;
        max-width: 80%;
    }

    #voice-message-window {
        position: relative;
        width: 42%;
        height: 24%;
        background-color: #242526;
        border-radius: 7px;
        left: calc(50% - 21%);
        top: calc(50% - 12%);
    }

    .voice-message {
        min-width: 80%;
    }

    .voice-length-div {
        width: 70%;
        margin-left: 5px;

    }

    .message-name {
        font-size: 16px;

    }

    .message-text {
        font-size: 14px;
    }

    .app-chat-input {
        width: 100%;
        height: 5%;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #404848;
            border-radius: 7px;

        }

        input {
            width: 100%;
            height: 100%;
            text-align: start;
            background-color: #404848;
            border: none;
            outline: none;
            color: white;
            border-radius: 7px;
        }

        button {
            width: 32px;
            height: 25px;
            background-color: #404848;
            border: none;


        }
    }

    #chat-header {
        width: 98%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}