* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


span,
p {
    font-family: Arial, sans-serif;
}


input {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    border: none;
    text-decoration: none;
    outline: none;
    color: #696969;

}

input:hover {

    cursor: pointer;
    font-size: large;
}

input::placeholder {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


#account-btn:hover,
#voice-message-btn:hover,
.side-panel-btn:hover {
    img {
        min-width: 5px;
        min-height: 5px;
        width: 32px;
        height: 32px;
    }

    cursor: pointer;
}


.root {
    width: 100vw;
    min-height: 100vh;
    /* background-color: #698CB8; */
    position: fixed;
    z-index: 2;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

#background {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: 1; */
}


#app {
    min-width: 400px;
    width: 1440px;
    height: 745px;
    display: flex;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #0582ca;

}

#chat-container {
    min-width: 200px;
    display: flex;
    height: 845px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: aliceblue;



    border-radius: 20px;


}

#chat-div {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 845px;
    width: 1057px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

#chat-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    min-width: 200px;
    width: 960px;
    height: 756px;
    gap: 30px;



}

#chat-display::-webkit-scrollbar {
    background-color: aliceblue;
}

/*
#chat-display::-webkit-scrollbar-button {
    max-height: 50%;
    height: 50%;
    background-color: #0064c7;
    width: 5px;

} */

#chat-header {
    width: 1057px;
    min-width: 200px;
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c2c3c3;

}

.chat-header-name {
    padding: 10px;
    min-width: 100px;
    width: 460px;
    height: 58px;
}

#menu-btn {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: aliceblue;
    border: none;

}

#menu-btn-img {
    width: 32px;
    height: 32px;
}

.chat-header-functions {
    width: 100px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-name-p {
    font-size: 24px;
    font-weight: bold;
    color: #0582ca;
}

.header-description-p {
    color: #AABBBD;
    font-size: 16px;
}

.members-span,
.online-span {
    color: #0582ca;

}

.app-chat-input {
    min-width: 200px;
    width: 958px;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid #c2c3c3;


    form {
        min-width: 200px;
        width: 940px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;

    }

    input {
        min-width: 200px;
        width: 900px;
        height: 45px;
        text-align: start;

        /* border-radius: 7px; */
    }

    button {
        width: 32px;
        height: 25px;
        background-color: aliceblue;
        border: none;


    }
}

#contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 845px;
    border-radius: 15px 0 0 15px;
    width: 385px;
    border: 1px solid #c2c3c3;
    background-color: aliceblue;
}

.contact-chat-div {
    min-width: 100px;
    width: 300px;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    border: 1px solid #AABBBD;


    img {
        min-width: 20px;
        min-height: 20px;
        width: 52px;
        height: 52px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
}

.chat-name {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0582ca;
}

.img-name-container {
    width: 270px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.description {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #AABBBD;
}

.contact-chat-names {
    width: 120px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.contact-chat-time {
    height: 51px;
    width: 36px;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: #AABBBD;

    img {
        min-width: 12px;
        width: 14px;
        height: 14px;
    }
}

#contacts-container-input-div {
    min-width: 200px;
    width: 336px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 20px;
    background-color: aliceblue;
    border: 1px solid #c2c3c3;



    input {
        height: 51px;
        width: 218px;
    }


}

.input-container {
    min-width: 200px;
    width: 384px;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}


#contacts-container-display {
    min-width: 200px;
    width: 359px;
    height: 745px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}


/* audio */

.audio-message {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 12px;
    padding: 8px 12px;
    width: 250px;
    height: 40px;
    margin: 4px 0;
    border-bottom: 2px solid #c2c3c3;
}

.play-pause-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8px;
}

.progress-bar {
    flex-grow: 1;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #0582ca;
    width: 30%;
    /* будет меняться через JS */
}

.duration {
    font-size: 12px;
    color: #666;
    margin-left: 8px;
}






















/* audio */
#search-img {
    min-width: fit-content;
    width: 32px;
    height: 32px;
}

.message {
    min-width: 50px;
    padding: 0 0 5px 5px;
    background-color: aliceblue;
    border-radius: 12px;
    display: flex;
    border-bottom: 2px solid #c2c3c3;
    
    align-items: center;
}

.voice-message {
    width: 345px;
    min-width: 75px;
}

.message-text-div {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    min-height: 52px;

    overflow-wrap: break-word;


}

.message-time-div {
    width: 38px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #AABBBD;

}

.message-name {
    margin-left: 15px;
    font-size: 20px;
    padding-bottom: 10px;
    color: #0582ca;
}

.message-text {
    font-size: 16px;
    color: black;
    height: 50%;

}

.message-length {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 268px;
}

.voice-play-btn {
    min-width: 20px;
    min-height: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: #0582ca;

    display: flex;
    align-items: center;
    justify-content: center;
}

.voice-img {
    width: 28px;
    ;
    height: inherit;
    min-width: 15px;
}


.voice-length-div {
    width: 80%;
    height: 38px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

}

#voice-message-back {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.619);
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    z-index: 1;

}

#voice-message-window {
    position: relative;
    width: 12%;
    height: 24%;
    background-color: aliceblueq;
    border-radius: 7px;
    left: calc(50% - 6%);
    top: calc(50% - 12%);
}

#micro-circle {
    position: relative;
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: calc(50% - 85px);
    background-color: #698CB8;
    border-radius: 50%;




}

#voice-window-img {
    position: relative;
    width: 80%;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    z-index: 30;
}

#micro-circle::after,
#micro-circle::before {
    content: '';
    position: absolute;
    background-color: #0582ca;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    z-index: 20;

}

#micro-circle::after {
    animation-delay: 1.25s;

}

#timer-div {
    position: relative;
    width: 100%;
    height: 16%;
    text-align: center;
    /* border: 1px solid black; */
    top: 24%;
    z-index: 40;
    color: #0582ca;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.lengthLine {
    width: 100%;
    height: 24%;
    border: 1px solid #DADADA;
    background-color: #DADADA;
    display: flex;
    justify-content: flex-start;
    border-radius: 2px;

}

.timeLine {
    width: 0;
    height: 100%;
    background-color: #AABBBD;
    border-radius: 2px;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


@media only screen and (max-width:600px) {
    #app {
        min-width: 50px;
        width: 100%;
        height: 100%;
    }

    #side-panel {
        display: none;

    }

    #chat-container {
        height: 100%;
        width: 100%;
        border-radius: 0;

    }

    #contacts-container {

        display: none;

    }

    #chat-div {
        height: 100vh;
        width: 90%;
    }

    #chat-display {
        margin-top: 20px;
        width: 98%;
        height: 80%;
        gap: 30px;

    }

    .message {
        min-width: 60%;
        max-width: 80%;
    }

    #voice-message-window {
        position: relative;
        width: 42%;
        height: 24%;
        background-color: #0582ca;
        border-radius: 7px;
        left: calc(50% - 21%);
        top: calc(50% - 12%);
    }

    .voice-message {
        min-width: 80%;
    }

    .voice-length-div {
        width: 70%;
        margin-left: 5px;

    }

    .message-name {
        font-size: 16px;

    }

    .message-text {
        font-size: 14px;
    }

    .app-chat-input {
        width: 100%;
        height: 5%;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: #0582ca; */
            border-radius: 7px;

        }

        input {
            width: 100%;
            height: 100%;
            text-align: start;
            /* background-color: #0582ca; */
            border: none;
            outline: none;
            color: white;
            border-radius: 7px;
        }

        button {
            width: 32px;
            height: 25px;
            /* background-color: #0582ca; */
            border: none;


        }
    }

    #chat-header {
        width: 98%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}